extends layout

block content
  h1
    span.header-logo
    |
    |
    span.header-text= title
  h2 Print-to-PDF
  form#parameters-form(method='get' action='/puppet-show/pdf')
    ul.key-value-list
      li
        div.li-key
          label(for='url') URL
        div.li-value
          input#url.form-control(type='url' name='url')
      li
        div.li-key
            label(for='format') Page Format
        div.li-value.radio-value
            select#format(name='format')
                option(value='Letter' selected='selected') Letter (8.5in by 11in)
                option(value='Legal') Legal (8.5in by 14in)
                option(value='Tabloid') Tabloid (11in by 17in)
                option(value='Ledger') Ledger (17in by 11in)
                option(value='A0') A0 (841mm by 1189mm)
                option(value='A1') A1 (594mm by 841mm)
                option(value='A2') A2 (420mm by 594mm)
                option(value='A3') A3 (297mm by 420mm)
                option(value='A4') A4 (210mm by 297mm)
                option(value='A5') A5 (148mm by 210mm)
                option(value='A6') A6 (105mm by 148mm)
      li
        div.li-key
          span Orientation
        div.li-value.radio-value
          label(for='portrait') Portrait
          input#portrait(type='radio' name='landscape' value='false' checked='checked')
          label(for='landscape') Landscape
          input#landscape(type='radio' name='landscape' value='true')
      li
        div.li-key
            span Margins
        div.li-value
            input#top(type='text' name='top' placeholder='top' value='0')
            input#right(type='text' name='right' placeholder='right' value='0')
            input#bottom(type='text' name='bottom' placeholder='bottom' value='0')
            input#left(type='text' name='left' placeholder='left' value='0')
            select#units(name='units')
                option(value='in' selected='selected') Inches
                option(value='cm') Centimeters
                option(value='mm') Millimeters
                option(value='px') Pixels
      li
        div.li-key
          span Background
        div.li-value.radio-value
          label(for='hide') Hide
          input#hide(type='radio' name='printBackground' value='false' checked='checked')
          label(for='show') Show
          input#show(type='radio' name='printBackground' value='true')
      li
        div.li-key
            label(for='scale') Scale
        div.li-value
            input#scale(type='number' name='scale' value='1' min='0' max='1' step='0.01')
      li
         div.li-key
             span Media
         div.li-value.radio-value
             label(for='print') Print
             input#print(type='radio' name='emulateMedia' value='print' checked='checked')
             label(for='screen') Screen
             input#screen(type='radio' name='emulateMedia' value='screen')
      li
         div.li-key
             label(for='pageRanges') Page Ranges
         div.li-value
             input#pageRanges(type='text' name='pageRanges' value='' placeholder='Ex: "1-5, 8, 11-13". Empty = all')
      li
         div.li-key
             span Header and Footer
         div.li-value
             label(for='headfoothide') Hide
             input#headfoothide(type='radio' name='displayHeaderFooter' value='false' checked='checked')
             label(for='headfootshow') Show
             input#headfootshow(type='radio' name='displayHeaderFooter' value='true')
      li
         div.li-key
             label(for='headerTemplate') Custom Header HTML
         div.li-value
             input#headerTemplate(type='text' name='headerTemplate' placeholder='Ex: "<style>h1{font-size: 16px;}</style><h1>Hello</h1>"')
      li
         div.li-key
             label(for='footerTemplate') Custom Footer HTML
         div.li-value
             input#footerTemplate(type='text' name='footerTemplate')
      li
         div.li-key
             span HTTPS Errors
         div.li-value.radio-value
             label(for='fail') Fail
             input#fail(type='radio' name='ignoreHTTPSErrors' value='false' checked='checked')
             label(for='ignore') Ignore
             input#ignore(type='radio' name='ignoreHTTPSErrors' value='true')
      li
         div.li-key
             label(for='filename') Filename
         div.li-value
             input#filename(type='text' name='filename' placeholder='Empty = no header')
      li
         div.li-key
             span Wait Until
         div.li-value
              label(for='load') load
              input#load(type='checkbox' name='waitUntil' value='load')
              label(for='domcontentloaded') DOMContentLoaded
              input#domcontentloaded(type='checkbox' name='waitUntil' value='domcontentloaded')
              label(for='networkidle0') networkidle0
              input#networkidle0(type='checkbox' name='waitUntil' value='networkidle0')
              label(for='networkidle2') networkidle2
              input#networkidle2(type='checkbox' name='waitUntil' value='networkidle2')
      li
         div.li-key
             label(for='waitForSelector') Wait For Selector
         div.li-value
             input#waitForSelector(type='text' name='waitForSelector' placeholder='Ex: "span.done"')
    button#print-button.btn(type='submit') Print
  h3 Request Preview
  div#preview-div