doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title= title
    link(rel='shortcut icon' href='/puppet-show/images/favicon.ico')
    link(rel='stylesheet' href='/puppet-show/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src='/puppet-show/jquery/jquery.js')
    script(type='text/javascript' src='/puppet-show/javascripts/script.js')
