/*Page Structure*/
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Verdana", sans-serif;
}
#page {
    margin: 0 auto;
    padding: 32px;
    max-width: 1200px;
    min-width: 1024px; 
}
#content {
    border: 1px solid black;
    box-shadow: 8px 8px 8px #979797;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
}
#content-liner {
    border: 1px solid black;
    margin: 8px;
    min-height: 512px;
}
section {
    margin: 16px;
}
h1 {
    margin: 0 0 16px 0;
    text-shadow: 3px 3px 3px #979797;
}
#page-header-logo {
    background: url("../img/logo32x32.png") 0 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: bottom;
}
/*Nav*/
#primary-nav ul {
    padding: 0 4px;
    list-style-type: none;
    margin: 0 0 0 16px;	
}
#primary-nav li {
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
    padding: 8px 8px 4px 8px;
    position: relative;
    bottom: -1px;
    z-index: 1;
    background-color: lightgray;
    display: inline-block;
}
#primary-nav li.current-primary {
    border-bottom: 1px solid white;
    background-color: white;
}
/*Links*/
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: red;
}


h2,
h3 {
    margin: 16px;
}

/*Key-Value List*/
.key-value-list {
  display: table;
  margin: 0 0 16px 0;
  padding: 0;
}
.key-value-list > li {
  list-style-type: none;
  display: table-row;
}
.li-key,
.li-value {
  display: table-cell;
  padding: 4px;
}
.li-key {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.required-field:before {
  color: red;
  content: "*";
}
.li-key > label:after,
.li-key > span:after {
  content: ":";
}
.key-value-list .li-key {
  font-weight: bold;
}
.li-value input {
  margin-right: 1em;
}
#top,
#right,
#bottom,
#left,
#scale,
#width,
#height {
  width: 4em;
}
.radio-value label {
    display: inline-block;
    min-width: 75px;
    text-align: right;
}
.radio-value label, .radio.value input {
  vertical-align: top;
}
.radio-value input {
  margin-right: 2em;
}
form {
  display: inline-block;
  margin: 0 16px;
}
button[type=submit] {
  float: right;
}
.preview-div {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  word-wrap: break-word;
}
.url-input {
  width: 300px;
}
#screenshot-quality {
    width: 100px;
}
#pageRanges {
  width: 200px;
}
#page-header-logo {
  height: 32px;
  width: 32px;
  background: url("/puppet-show/images/logo32x32.png");
  display: inline-block;
  vertical-align: bottom;
}
#headerTemplate,
#footerTemplate {
  width: 400px;
}
.dimension-value input {
    width: 75px;
}